<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {{ if .Site.Params.author }}<meta name="author" content="{{ $.Site.Params.author }}">{{ end }}
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . | plainify }} | {{ end }}{{ .Site.Title | plainify }}{{ end }}</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta name="description" content="{{ with .Description }}{{ . | plainify }}{{ else }}{{if .IsPage}}{{ .Summary | plainify }}{{ else }}{{ with .Site.Params.description | plainify }}{{ . }}{{ end }}{{ end }}{{ end }}">
  {{ hugo.Generator }}
  {{ if .Site.Params.robots }}<meta name="robots" content="{{ $.Site.Params.robots }}">{{ end }}
  <meta name="referrer" content="always" />

  {{ partial "site-style.html" . }}
  {{ partial "site-script.html" . }}

  {{ if .Site.Params.favicon }}<link rel="shortcut icon" href="{{ relURL ($.Site.Params.favicon) }}" type="image/x-icon" />{{ end }}  

  {{ if .OutputFormats.Get "RSS" }}
    {{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
      <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
  {{ end }}

  {{/* NOTE: Forked from https://github.com/gohugoio/hugo/tree/master/tpl/tplimpl/embedded/templates */}}
  {{- partial "sharing/opengraph.html" . -}}
  {{- partial "sharing/schema.html" . -}}
  {{- partial "sharing/twitter_cards.html" . -}}

  {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  {{ block "head" . }}{{ end }}
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6" id="content-panel">
        <div class="container h-100">
          <p class="lead my-0" id="site-title">          
            <a href="{{ .Site.Home.RelPermalink }}">
              {{ with .Site.Params.siteLogo }}<img src="{{ relURL (.) }}" alt="{{ $.Site.Title | plainify }}" />{{ end }}{{ .Site.Title | safeHTML }}
            </a>
          </p>

          {{ if or .Site.Menus.main (and .IsTranslated (default false ($.Site.Params.showTranslations))) .PrevInSection .NextInSection }}
            <aside class="mt-0 mb-2">
              {{ if .Site.Menus.main }}
                <ul class="list-inline" id="menu-main">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <li class="list-inline-item me-4"><a href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
                    {{ end }}
                </ul>
              {{ end }}

              {{ if or .PrevInSection .NextInSection }}
              <ul class="list-inline" id="menu-prevnext">
                {{ with .PrevInSection }}<li class="list-inline-item me-4"><a href="{{ .Permalink }}"><i class="fa fa-arrow-left fa-fw prev"></i>{{ .Title }}</a></li>{{ end }}
                {{ with .NextInSection }}<li class="list-inline-item me-4"><a href="{{ .Permalink }}">{{ .Title }}<i class="fa fa-arrow-right fa-fw next"></i></a></li>{{ end }}
              </ul>
              {{ end }}
            </aside>
            {{ end }}
          <hr/>

          <h1>{{ block "title_html" . }}{{ .Title | safeHTML }}{{ end }}</h1>

          <div class="split-bio my-2">
            {{ block "main_content" . }}{{ end }}
          </div>
          <div class="split-lists my-4">
            <div class="row">
              {{ block "lists" . }}{{ end }}
            </div>
          </div>

          {{ block "footnote" . }}
          {{ if or .Params.footnote .Site.Params.footnote }}
            <hr>
            <div class="split-footnote my-6">
              {{ with .Params.footnote }}{{ . }}{{ end }}
              {{ with .Site.Params.footnote }}{{ . | safeHTML }}{{ end }}
            </div>
            {{ end }}
          {{ end }}
        </div>
      </div>

      {{ block "gallery" . }}{{ end }}
    </div>
  </div>
</body>

</html>